<table>
  <caption>
    <h3 class="title-caption">List songs</h3>
  </caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Singer</th>
      <th>Images</th>
      <th>Videos</th>
      <th>Control</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="5">Nothing to show.</td>
    </tr>
  </tbody>
  <tfoot>
    <td colspan="5" class="tablefoot"></td>
  </tfoot>
</table>
